<!DOCTYPE html>
<!-- saved from url=(0016)http://localhost -->
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    @* ReSharper disable Html.PathError *@

    <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="~/lib/angular/angular-cookies.min.js"></script>

    
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/fonts/fonts.css" />
    <link type="text/css" rel="stylesheet" href="~/fonts/font-awesome.css" />

    <script type="text/javascript" src="~/lib/sgDialogService/sgDialogService.1.0.0.js"></script>
    <link type="text/css" rel="stylesheet" href="~/lib/sgDialogService/sgDialogService.1.0.0.css" />

    <script type="text/javascript" src="~/lib/sgGrid/sgGrid.1.0.0.js"></script>

    <link type="text/css" rel="stylesheet" href="~/lib/sgDropdown/sgDropdown.1.0.0.css" />
    <script type="text/javascript" src="~/lib/sgDropdown/sgDropdown.1.0.0.js"></script>


    <link type="text/css" rel="stylesheet" href="~/lib/sgShowError/sgShowError.1.0.0.css" />
    <script type="text/javascript" src="~/lib/sgShowError/sgShowError.1.0.0.js"></script>

    <link type="text/css" rel="stylesheet" href="~/app/common/style.css" />

    <!-- FAKE API SERVER IMPLEMENTATION BEGIN-->
    <!--<script type="text/javascript" src="lib/sinon-server/sinon-server.js"></script>
        <script type="text/javascript" src="lib/fakerest/fakerest.js"></script>
        <script type="text/javascript" src="lib/fakerest/api-server.js"></script>-->
    <!-- FAKE API SERVER IMPLEMENTATION END-->

    <script type="text/javascript" src="~/app/common/module.js"></script>
    <script type="text/javascript" src="~/app/common/services.js"></script>
    <script type="text/javascript" src="~/app/common/controllers.js"></script>
    <script type="text/javascript" src="~/app/common/directives.js"></script>
    @* ReSharper restore Html.PathError *@
</head>
<body>
        @RenderBody()
</body>
</html>
