<form method="post">
    <fieldset>
        <legend>Add Customer</legend>
        <div>
            <label for="UserName">UserName:</label>
            <input type="text" name="UserName" value="" />
        </div>
        <div>
            <label for="EMail">EMail:</label>
            <input type="text" name="EMail" value="" />
        </div>
        <div>
            <label for="Password">Password:</label>
            <input type="text" name="Password" value="" />
        </div>
        <div>
            <label for="Secret">Secret:</label>
            <input type="text" name="Secret" value="" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>
