<div ng-controller="MaintenanceController">

    <div class="form-group">
        <div class="input-group">
            <a class="btn btn-default btn-sm" ng-click="loadUsers()">Load sample users</a>
        </div>

        <div class="input-group">
            <a class="btn btn-default btn-sm" ng-click="loadApplications()">Load sample applications</a>
        </div>

        <div class="input-group">
            <a class="btn btn-default btn-sm" ng-click="loadOrganizations()">Load sample organizations</a>
        </div>

        <div class="input-group">
            <a class="btn btn-default btn-sm" ng-click="loadRolesAndPermissions()">Load sample roles and permissions</a>
        </div>
        
        <div class="input-group">
            <a class="btn btn-default btn-sm" ng-click="loadOrganizationGroups()">Load sample groups</a>
        </div>
    </div>
</div>