<form novalidate name="editForm" id="edit-form" role="form" ng-submit="update()">
    <div>
        <input type="hidden" ng-model="data.Id" />
        <div class="form-group">
            <label for="FirstName">FirstName</label>
            <input type="text" class="form-control" ng-model="data.FirstName" />
        </div>
        <div class="form-group">
            <label for="LastName">LastName</label>
            <input type="text" class="form-control" ng-model="data.LastName" />
        </div>
        <div class="form-group">
            <label for="EMail">EMail</label>
            <input type="email" class="form-control" ng-model="data.EMail" required sg-show-error />
        </div>
        <div class="form-group">
            <label for="UserName">UserName</label>
            <input type="text" class="form-control" ng-model="data.UserName" required sg-show-error />
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" ng-model="data.Password" sg-show-error />
        </div>
        <div class="form-group">
            <label for="PasswordConfirm">Confirm</label>
            <input type="password" class="form-control" ng-model="data.PasswordConfirm" sg-show-error sg-compare-to="data.Password" />
        </div>
    </div>
</form>